- var pane_view = (pane_view != 'undefined') ? pane_view : 'home';

!!!
html
  head
    include partials/meta
    include partials/css
    include partials/scripts

  body(class=pane_view)
    block pageContent
    block afterContent
      include partials/footer