
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  ........ ZZZZZI...ZZ.ZOZZZZZ=..7ZZZI...$Z:....ZZ= ...=ZO... .ZZZZZ,..ZZZZZZ$ ........  */
/*  ........ O.  .ZO..OO  ..OZ   .OO...7 ..OOO...?OO=..  O?O~....8.. .OI    O. ..........  */
/*  .........8...=8:..88 ...88 .. OO8=. ...8Z88  8.8= ..8D.$O.. .8.. .87 .. 8............  */
/*  ........ DDDDDD,..DD ...DD....  7DDD?..DZ 8.D8.D+ ..D, .DZ. .DDDDDO. .. D............  */
/*  ........ N    DN..NN ...NN....:. . DN .N8 ZNN .N+. NNNNNNM   N. ON .....N............  */
/*  .........MMMMMN?..MM .. MM... NMMMNM~..M8  M+. M+.$M...  MM. M ..DM.....M ...........  */
/*  .........    . .... ... . .....    . ..  . . ..   .. ....  .   . .. ... .............  */
/*  .....................................................................................  */
/*  .........ZZ$....IZO.... Z$.....ZZ .. ZZ.... ZZ .....,ZZZZ,...ZZZZZZ ..ZZZZZ,.........  */
/*  .........ZOO... OOO .. OZOO ...OOO.. OO... ZOOO....OO    Z: .OZ    ...O .  ZI........  */
/*  .........88=8..8I88...=8 .8... 8?88. 88...,8..8~ .78  .......88.......8. ..D7 .......  */
/*  .........DD DI+D DD ..DZ. DD . DI 8D.DD...DD .OD .8D .+DDDD..DNDDDD...DDDDDZ ........  */
/*  .........NN .NN,.NN  8NMNNNNI. NI. 7MNN..INNNNNND..N$  ..MN  NN...  ..N .ON..........  */
/*  .........MM  NM. MM .M7    DM .M7.  :MM..MD   .$M.. MMMMMM,. MMMMMM ..M...NM  .......  */
/*  ...........    .... .  .... .   ..... .. . ....  ... . .. .. .    . .... .  . .......  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */
/*  .....................................................................................  */


@import('./fonts/fonts.css')

body
  margin: 0;
  font: 13px "proxima_nova_ltbold","Helvetica Neue", "Lucida Grande", "Arial";
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
  color: #555;
  -webkit-font-smoothing: antialiased;

// h1, h2, h3
//   margin: 0;
//   font-size: 22px;
//   color: #343434;

// h1 em, h2 em
//   padding: 0 5px;
//   font-weight: normal;

// h1
//   font-size: 60px;
// h2
// 	margin-top: 10px;
// h3
//   margin: 5px 0 10px 0;
//   padding-bottom: 5px;
//   border-bottom: 1px solid #eee;
//   font-size: 18px;

// ul
//   margin: 0;
//   padding: 0;
//   li
//     margin: 5px 0;
//     padding: 3px 8px;
//     list-style: none;
//     &:hover
//       cursor: pointer;
//       color: #2e2e2e;
//     .path
//       padding-left: 5px;
//       font-weight: bold;
//     .line
//       padding-right: 5px;
//       font-style: italic;
//     &:first-child
//       .path
//         padding-left: 0;

// p
//   line-height: 1.5;

// a
//   color: #555;
//   text-decoration: none;
//   &:hover
//     color: #303030;

// #stacktrace
// 	margin-top: 15px;

// .directory h1
//   margin-bottom: 15px;
//   font-size: 18px;

// ul#files
//   width: 100%;
//   height: 500px;

//   li
//     padding: 0;

//     img
//       position: absolute;
//       top: 5px;
//       left: 5px;
//     a
//       position: relative;
//       display: block;
//       margin: 1px;
//       width: 30%;
//       height: 25px;
//       line-height: 25px;
//       text-indent: 8px;
//       float: left;
//       border: 1px solid transparent;
//       -webkit-border-radius: 5px;
//       -moz-border-radius: 5px;
//       border-radius: 5px;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       &.icon 
//         text-indent: 25px;
//       &:focus,
//       &:hover
//         outline: none;
//         background: rgba(255,255,255,0.65);
//         border: 1px solid #ececec;
//       &.highlight
//         -webkit-transition: background .4s ease-in-out;
//         background: #ffff4f;
//         border-color: #E9DC51;

#search
  display: block;
  // position: fixed;
  // top: 20px;
  // right: 20px;
  width: 90px;
  -webkit-transition: width ease 0.2s, opacity ease 0.4s;
  -moz-transition: width ease 0.2s, opacity ease 0.4s;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.03);
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font: 13px "Helvetica Neue", Arial, sans-serif;
  padding: 4px 10px;
  border: none;
  background: transparent;
  margin-bottom: 0;
  outline: none;
  opacity: 0.7;
  color: #888;
  &:focus
    width: 120px;
    opacity: 1.0; 





  
/* ----------------------- <<<< Begin custom styles >>>> ----------------------- */


/* ---- <<<< General >>>> ---- */

h1
  //semibold 24pt
  font-family: "proxima_nova_ltbold"
  font-size: 24px
  text-transform: uppercase
h2
  //regular 14pt
  font-family: "proxima_nova_rgregular"
  font-size: 14px
  text-transform: uppercase
h3
  //semibold 12pt
  font-family: "proxima_nova_ltbold"
  font-size: 12px
a
  color: #555;
  text-decoration: none;
  &:hover
    color: #303030;

.btn
  color: #333
  background-color: #999
  width: 


/* ---- <<<< Utility >>>> ---- */

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-sizing()
  -webkit-box-sizing: arguments
  -moz-box-sizing: arguments
  box-sizing: arguments

$gutter= 16px;


/* ---- <<<< Mast Head >>>> ---- */

#mastHead
  clearfix()
  padding: 10px 0
  // height: 70px
  
  hgroup
    float: left
  
  h1
    color: #777
  
  h2,h3
    color: #999

#user
  float: right

#util
  float: right

#settings,
#help
  display: block
  width: 30px
  height: 30px
  background-color: #ddd
  margin-right: 10px
  float: left
  overflow: hidden




/* ---- <<<< Pane Head >>>> ---- */

.paneHead
  background-color: #232323
  color: #fff
  clearfix()

  h1
    float: left
    margin-bottom: 0

  header
    border-bottom: 1px solid #ddd
    clearfix()
    position: relative
  
#gridview
  position: absolute
  bottom: 5px
  right: 0

.module
	height: 200px
	margin-bottom: 2.127659574468085%

	h2
		margin-top: 0px
		height: 100%
		width: 100%

		a
			display block
			box-sizing(border-box)
			height: 100%
			width: 100%
			padding: 15px
			text-decoration: none
			background-color: #eee
			border: 1px solid #ccc
			transition(all 1s ease-in-out)

			&:hover
				background-color: #ddd
				border-color: #bbb
				transition(all .2s ease-in-out)

			&:active
				background-color: #ccc
				border-color: #999
				color: #777
				transition(all .1s ease-in-out)




/* ---- <<<< Breadcrumb >>>> ---- */

.breadcrumb
  float: left
