//- CSS associated with the site. 

//- link(rel='stylesheet', href='/vendor/bootstrap.min.css')
//- link(rel='stylesheet', href='/css/toast/toast.css')
link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
link(rel='stylesheet', href='/css/style.css')