//- footer loaded scripts and the like

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/views/login.js')
script(src='/js/controllers/loginController.js')
script(src='/js/form-validators/loginValidator.js')
script(src='/js/form-validators/emailValidator.js')
script(src='/js/form-validators/accountValidator.js')

//- script(src='/js/main.js')

script(src='/js/controllers/homeController.js')
script(src='/js/controllers/accountController.js')

script(src='/js/views/home.js')