- data = (typeof(data) != 'undefined') ? data : {};
//- - user = typeof(udata) != 'undefined' ? udata : {}

div(class='sim1 span3')
  h2 #{(data.title || 'Not Defined')}
  hr
  p  #{(data.data || 'Not Defined')}